.text-input,.date-input, .select-input  {
  border-width: 0 0 1px 0;
  border-style:  solid;
  padding: calc(var(--spacer) * .5);
  border-color: var(--color-font-level-2);
  appearance: none;
  background: none;
  color: var(--color-font-level-2);
  display: inline-block;
  box-sizing : border-box;
}

.date-input, .select-input  {
  border-width: 1px;
  border-radius: var(--border-radius);
  padding: calc(var(--spacer) * .5);
  height: 40px;
  box-sizing: border-box;
}

.top-label {
  display: block;
  margin-bottom: calc(var(--spacer) * .5)
}
